div.mark-rect {
    background: transparent;
    border: 5px solid #5768c4;
    border-radius: 2px;
    position: absolute;
}

#vnote-footer {
    width: 100%;
    text-align: center;
    opacity: 0.2;
    margin-top: 3rem;
}

#vnote-footer p {
    font-size: 0.8rem;
}

#vnote-footer a {
    color: inherit !important;
}

/* Mathjax */
x-eqs {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

x-eqs > x-eqn {
    width: 100%;
    margin-left: 3rem;
}

x-eqs > span {
    text-align:right;
}
/* Mathjax */

/* View Image */
.view-image,.view-svg {
    transition: 0.3s;
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(68, 68, 68);
    background-color: rgba(68, 68, 68, 0.95);
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    cursor: move;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
span.modal-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 35px;
    color: #DADADA;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

span.modal-close:hover,
span.modal-close:focus {
    color: #EEEEEE;
    text-decoration: none;
    cursor: pointer;
}
/* View Image */

/* Print */
@media print {
    pre, pre code, td.hljs-ln-code {
        white-space: pre-wrap !important;
        word-break: break-all !important;
    }

    code, a {
        word-break: break-all !important;
    }

    div.flowchart-diagram, div.mermaid-diagram, div.plantuml-diagram {
        overflow: hidden !important;
    }

    img {
        max-width: 100% !important;
        height: auto !important;
    }

    #vnote-footer {
        display: none !important;
    }
}
/* Print*/

/* Alert */
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
/* Alert */

/* Anchor */
.vnote-anchor {
    font-weight: 400;
    color: rgba(0,123,255,.5);
    transition: color .16s linear;
    padding-left: 0.375em;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    opacity: 0;
}

.vnote-anchor:hover {
    color: rgba(0,123,255,1);
    text-decoration: none;
    opacity: 1;
}

.vnote-anchor::after {
    content: attr(data-anchor-icon);
}
/* Anchor */

/* Button */
.vnote-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

.vnote-copy-clipboard-btn {
    transition: opacity .3s ease-in-out;
    opacity: 0;
    padding: 2px 6px;
    position: absolute;
    top: 5px;
    right: 5px;
}

pre:hover .vnote-copy-clipboard-btn {
    opacity: 1;
}

pre.vnote-snippet {
    position: relative;
}
/* Button */
