.post-content {
    width: 960px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;

}
.toc {
    overflow: hidden;
    color: #555;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    min-width: 150px;
    opacity: 1;
    font-size: inherit;
    z-index: 19941112;
}
.toc {
    display: none;
    margin-bottom: 2em;
    line-height: 1.5em;
}
.toc a {
    color: #333;
}
.toc a:hover{
    color: #555;
    background-color: #fff;
}
.toc .catalog-title {
    cursor: move;
    padding-left: 12px;
    width: 100%;
    height: 35px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #555;
    overflow: hidden;
}
.toc .catalog-close {
    position: absolute;
    right: 15px;
    top: 6px;
    cursor: pointer;
    text-decoration: none;
}
.fixed {
    position: fixed;
    top: 20px;
    right: 250px;
    width: auto;
}
.blodtoc {
    font-weight: bold;
}