.typewriter h3 {
    font-family: monospace;
    padding: 4px 0px 4px 4px;
    display: inline-block;
    overflow: hidden;
    border-right: 0.5em solid #00897B;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00897B }
}
