body {
    margin: 0 auto;
    font-family: "Microsoft YaHei", "ubuntu", "Tahoma", arial, sans-serif;
    color: rgb(238, 255, 255);
    background: rgb(38, 50, 56);
    line-height: 1;
    padding: 30px;
}

img {
    max-width: 100%;
}

@media screen and (min-width: 1000px) {
    body {
        width: 842px;
        margin: 10px auto;
    }

}

h1, h2, h3, h4, h5 {
    font-family: "Microsoft YaHei", "ubuntu", "Tahoma", arial, sans-serif;
    font-weight: 400;
    margin-top: 1em;
    color: rgb(171, 232, 141);

}

h1, h2, h3, h4, h5, dl {
    margin-bottom: 16px;
    padding: 0;
}

p {
    margin-top: 8px;
    margin-bottom: 3px;
}

h1 {
    font-size: 32px;
    line-height: 54px;
}

h1:before {
    content: '# ';
}

h2 {
    font-size: 30px;
    line-height: 42px;
}

h2:before {
    content: '## ';
}

h1, h2 {
    padding-bottom: 10px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h3:before {
    content: '### ';
}

h4 {
    font-size: 20px;
    line-height: 26px;
}

h4:before {
    content: '#### ';
}

h5 {
    font-size: 18px;
    line-height: 23px;
}

h5:before {
    content: '##### ';
}

a {
    color: rgb(247, 140, 108);
    margin: 0 2px;
    padding: 0;
    vertical-align: baseline;
}

a:hover {

    color: #0099ff;
}

ul, ol {
    padding: 0;
    padding-left: 18px;
    margin: 0;
}

li {
    line-height: 24px;
}

p, ul, ol {
    font-size: 16px;
    line-height: 24px;
}

ol ol, ul ol {
    list-style-type: lower-roman;
}

strong {
    color: rgb(240, 113, 120);
}

i {
    color: rgb(240, 113, 120);
}

pre {
    line-height: 1.7em;
    overflow: auto;
    padding: 6px 10px;
    /*border-left: 2px solid #6CE26C;*/

}

pre code {

    font-family: Consolas, Monaco, Andale Mono, monospace;
    border: 0;
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: 1.6em;
    font-size: .95em;
    white-space: pre;

}

:not(pre) code {
    border: none;
    padding: 1px 3px;
    color: #c792ea;

}

aside {
    display: block;
    float: right;
    width: 390px;
}

blockquote {
    position: relative;
    color: rgb(101, 170, 255);
    font-style: italic;
    font-weight: 300;
    background: rgb(26, 34, 38);
    border-left: 2px solid rgb(101, 115, 126);
    padding-left: 1em;

}

blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
}

blockquote cite:before {
    content: '\2014 \00A0';
}

hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

dl {
    padding: 0;
}

dl dt {
    padding: 10px 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

dd {
    margin-left: 0;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
    border: 1px solid #eeffff;
    margin: 0px;
    padding: 5px 10px;
    font-weight: bold;
}

/*html {*/
    /*background-color: #263238;*/
    /*color: #eeffff;*/
    /*padding: 16px;*/
/*}*/

/*a {*/
    /*color: #B2CCD6;*/
    /*line-height: 16px;*/
/*}*/

/*.error, .deleted {*/
    /*color: #FF5370;*/
/*}*/

/*.success, .inserted {*/
    /*color: #C3E88D;*/
/*}*/

/*.warning, .modified {*/
    /*color: #FFCB6B;*/
/*}*/

/*.type {*/
    /*color: #89DDFF;*/
    /*font-style: italic;*/
/*}*/

/*.param {*/
    /*color: #F78C6C;*/
/*}*/

/*.current {*/
    /*text-decoration: underline;*/
/*}*/