Source: vnote
Section: editors
Priority: optional
Maintainer: Le Tan <tamlokveer@gmail.com>
Build-Depends: debhelper (>=9), cdbs, qt5-qmake, qtbase5-dev, libqt5svg5-dev, qtdeclarative5-dev, libqt5xmlpatterns5-dev
Standards-Version: 3.9.6
Homepage: https://tamlok.github.io/vnote
#Vcs-Git: git://anonscm.debian.org/collab-maint/vnote.git
Vcs-Browser: https://github.com/tamlok/vnote.git

Package: vnote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5sql5, libqt5sql5-sqlite, libqt5widgets5, libqt5qml5, libqt5svg5, libqt5network5, libqt5xml5, libqt5xmlpatterns5, libqt5printsupport5
Description: A Vim-inspired note-taking application, especially for Markdown
