Source: vnote
Section: editors
Priority: optional
Maintainer: Le Tan <tamlokveer@gmail.com>
Build-Depends: debhelper (>=9), qt5-default (>= 5.7.1), libqt5svg5-dev, qtwebengine5-dev, libqt5webchannel5-dev, qtpositioning5-dev
Standards-Version: 3.9.6
Homepage: https://tamlok.github.io/vnote
Vcs-Browser: https://github.com/tamlok/vnote.git

Package: vnote
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libQt5WebEngineWidgets (>= 5.7.1), libQt5WebEngineCore, libQt5PrintSupport, libQt5Widgets, libQt5Gui, libQt5WebChannel, libQt5Network, libQt5Core
Suggests: libssl
Description: A Vim-inspired note-taking application for Markdown.
 VNote is a cross-platform, free note-taking application, designed especially
 for Markdown. VNote provides both simple note management and pleasant Markdown
 edit experience.
