body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif, Tahoma, Arial, Verdana, Geneva, Georgia, Palatino, "Times New Roman", "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "Microsoft YaHei UI", "WenQuanYi Micro Hei", "文泉驿雅黑", Dengxian, "等线体", STXihei, "华文细黑", "Liberation Sans", "Droid Sans", NSimSun, "新宋体", SimSun, "宋体";
    color: #222222;
    line-height: 1.5;
    padding: 15px;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}

p {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    word-break: break-all;
}

a:hover {
    text-decoration: underline;
    color: #ff6600;
}

a:visited {
    color: purple;
}

ul, ol {
    padding: 0;
    padding-left: 24px;
}

li {
    line-height: 24px;
}

li ul, li ol {
    margin-left: 16px;
}

p, ul, ol {
    font-size: 16px;
    line-height: 24px;
}

pre {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
}

code {
    font-family: Consolas, Monaco, Monospace, Courier;
    font-size: 16px;
    color: #8E24AA;
    word-break: break-all;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #222222;
    background-color: #E0E0E0;
    line-height: 1.5;
    font-family: Consolas, Monaco, Monospace, Courier;
    white-space: pre;
}

aside {
    display: block;
    float: right;
    width: 390px;
}

blockquote {
    color: #666;
    border-left:.5em solid #7a7a7a;
    padding: 0 2em;
    margin-left:0;
}

blockquote p {
    color: #666;
}

hr {
    display: block;
    text-align: left;
    margin: 1em 0;
    border: none;
    height: 2px;
    background: #999;
}

table {
   padding: 0;
   border-collapse: collapse;
}

table tr {
   border-top: 1px solid #cccccc;
   background-color: white;
   margin: 0;
   padding: 0;
}

table tr:nth-child(2n) {
   background-color: #f8f8f8;
}

table tr th {
   font-weight: bold;
   border: 1px solid #cccccc;
   margin: 0;
   padding: 6px 13px;
}

table tr td {
   border: 1px solid #cccccc;
   margin: 0;
   padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
   margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
   margin-bottom: 0;
}

div.mermaid-diagram {
    margin: 16px 0px 16px 0px;
    overflow-y: hidden;
}

div.flowchart-diagram {
    margin: 16px 0px 16px 0px;
    width: fit-content;
    overflow: hidden;
}

div.plantuml-diagram {
    margin: 16px 0px 16px 0px;
    width: fit-content;
    overflow: hidden;
}

.img-package {
    text-align: center;
}

img.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.img-caption {
    min-width: 20%;
    max-width: 80%;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #c0c0c0;
    color: #6c6c6c;
    text-align: center;
    line-height: 1.5;
}

/* For Highlight.js Line Number */
table.hljs-ln tr {
    border: none;
    background-color: transparent;
}

table.hljs-ln tr td {
    border: none;
    background-color: transparent;
}

table.hljs-ln tr td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #AAA;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
    white-space: nowrap;
}

table.hljs-ln tr td.hljs-ln-code {
    padding-left: 10px;
}

::selection {
  background: #64B5F6;
}
