body {
    margin: 0 auto;
    font-family: "Segoe UI", Helvetica, sans-serif, Tahoma, Arial, Geneva, Georgia, Palatino, "Times New Roman", "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "Microsoft YaHei UI", "WenQuanYi Micro Hei", "文泉驿雅黑", Dengxian, "等线体", STXihei, "华文细黑", "Liberation Sans", "Droid Sans", NSimSun, "新宋体", SimSun, "宋体";
    color: #ABB2BF;
    line-height: 1.5;
    padding: 15px;
    background: #282C34;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #E06C75;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}

p {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 18px;
}

a {
    color: #61AFEF;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    word-break: break-word;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #BA68C8;
}

ul, ol {
    padding: 0;
    padding-left: 24px;
}

li {
    line-height: 24px;
}

li ul, li ol {
    margin-left: 16px;
}

p, ul, ol {
    font-size: 16px;
    line-height: 24px;
}

mark {
    color: #000000;
    background-color: #C4C400;
}

pre {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

code {
    font-family: Consolas, Monaco, Monospace, Courier;
    color: #98C379;
    word-break: break-word;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #98C379;
    background-color: #343A45;
    line-height: 1.5;
    font-family: Consolas, Monaco, Monospace, Courier;
    white-space: pre;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

pre code.markdown-metadata {
    border-left: .5em solid #3F51B5;
}

aside {
    display: block;
    float: right;
    width: 390px;
}

blockquote {
    color: #5C6370;
    border-left: .5em solid #5C6370;
    padding: 0 1em;
    margin-left: 0;
}

blockquote p {
    color: #5C6370;
}

hr {
    display: block;
    text-align: left;
    margin: 1em 0;
    border: none;
    height: 2px;
    background: #373E47;
}

table {
   padding: 0;
   margin: 1rem 0.5rem;
   border-collapse: collapse;
}

table tr {
   border-top: 2px solid #373E47;
   margin: 0;
   padding: 0;
}

table tr th {
   font-weight: bold;
   border: 2px solid #373E47;
   margin: 0;
   padding: 6px 13px;
}

table tr td {
   border: 2px solid #373E47;
   margin: 0;
   padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
   margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
   margin-bottom: 0;
}

div.mermaid-diagram {
    margin: 16px 0px 16px 0px;
    overflow-y: hidden;
    background: #B0BEC5;
    color: #6C6C6C;
}

div.flowchart-diagram {
    padding: 0px 5px 0px 5px;
    margin: 16px 0px 16px 0px;
    width: fit-content;
    overflow: hidden;
    background: #B0BEC5;
    color: #6C6C6C;
}

div.wavedrom-diagram {
    padding: 0px 5px 0px 5px;
    margin: 16px 0px 16px 0px;
    width: fit-content;
    overflow: hidden;
    background: #B0BEC5;
    color: #6C6C6C;
}

div.plantuml-diagram {
    padding: 5px 5px 0px 5px;
    margin: 16px 0px 16px 0px;
    width: fit-content;
    overflow: hidden;
    background: #B0BEC5;
    color: #6C6C6C;
}

.img-package {
    text-align: center;
}

img.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.img-caption {
    min-width: 20%;
    max-width: 80%;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #373E47;
    color: #ABB2BF;
    text-align: center;
    line-height: 1.5;
}

.emoji_zero,.emoji_one,.emoji_two,.emoji_three,.emoji_four,.emoji_five,.emoji_six,.emoji_seven,.emoji_eight,.emoji_nine {
    margin-left: 5px;
    margin-right: 8px;
}

div.preview-hint {
    opacity: 0.5;
    margin-top: 30%;
    margin-bottom: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* For Highlight.js Line Number */
table.hljs-ln tr {
    border: none;
    background-color: transparent;
}

table.hljs-ln tr td {
    border: none;
    background-color: transparent;
}

table.hljs-ln tr td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #5C6370;
    border-right: 1px solid #373E47;
    vertical-align: top;
    padding-right: 5px;
    white-space: nowrap;
}

table.hljs-ln tr td.hljs-ln-code {
    padding-left: 10px;
}

::-webkit-scrollbar {
    background-color: #21252B;
    width: 14px;
    height: 14px;
    border: none;
}

::-webkit-scrollbar-corner {
    background-color: #21252B;
}

::-webkit-scrollbar-button {
    /* This selector affects the styling of both the up & down and left & right buttons of a scrollbar */
    height: 14px;
    width: 14px;
    background-color: #21252B;
}

::-webkit-scrollbar-button:hover {
    background-color: #424A56;
}

::-webkit-scrollbar-button:active {
    background-color: #31363F;
}

::-webkit-scrollbar-track {
    /* This selector affects the styling of the area in the scrollbar between the two buttons */
    background-color: #21252B;
}

::-webkit-scrollbar-thumb {
    /* This selector affects the styling of draggable element of the scollbar */
    border: none;
    background-color: #353B45;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #424A56;
}

::-webkit-scrollbar-thumb:active {
    background-color: #31363F;
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(right.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(left.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(down.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(up.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

::selection {
  background: #8CBAE8;
  color: #D0D0D0;
}
