[Desktop Entry]
Type=Application
Version=1.0
Name=VNote
GenericName=Markdown Note
Comment=Note-taking application for pleasant Markdown
Icon=vnote
Terminal=false
Exec=VNote %F
MimeType=text/markdown;
Categories=Qt;Utility;TextEditor;Office;
