/* Styles here will be placed in the header of the HTML template as global embedded styles. */
#vx-content.vx-constrain-image-width img,
#vx-content.vx-constrain-image-width div.vx-plantuml-graph > svg,
#vx-content.vx-constrain-image-width div.vx-mermaid-graph,
#vx-content.vx-constrain-image-width div.vx-flowchartjs-graph,
#vx-content.vx-constrain-image-width div.vx-wavedrom-graph {
    max-width: 100% !important;
    height: auto !important;
}

figure {
    margin: auto;
}

figcaption {
    font-style: italic;
}

#vx-content.vx-image-align-center figure {
    text-align: center;
}

#vx-content.vx-image-align-center figcaption {
    text-align: center;
}

#vx-content.vx-image-align-center div.vx-plantuml-graph,
#vx-content.vx-image-align-center div.vx-mermaid-graph,
#vx-content.vx-image-align-center div.vx-flowchartjs-graph,
#vx-content.vx-image-align-center div.vx-wavedrom-graph {
    margin-left: auto;
    margin-right: auto;
}

/* Table of Contents */
.vx-table-of-contents ol {
    list-style: none;
}

.vx-header-anchor {
    visibility: hidden;
    vertical-align: middle;
}

.vx-header-anchor::after {
    content: attr(vx-data-anchor-icon);
}

#vx-content h1:hover .vx-header-anchor, #vx-content h2:hover .vx-header-anchor, #vx-content h3:hover .vx-header-anchor, #vx-content h4:hover .vx-header-anchor, #vx-content h5:hover .vx-header-anchor, #vx-content h6:hover .vx-header-anchor {
    visibility: visible;
    vertical-align: middle;
}

#vx-content.vx-indent-first-line p {
    text-indent: 2em;
}

body.vx-transparent-background {
    background-color: transparent !important;
}

#vx-content.vx-nonscrollable pre {
    white-space: pre-wrap !important;
    word-break: break-all !important;
    overflow: hidden !important;
}

#vx-content.vx-nonscrollable pre code {
    white-space: pre-wrap !important;
    word-break: break-all !important;
}

#vx-content.vx-nonscrollable code,
#vx-content.vx-nonscrollable a {
    word-break: break-all !important;
}

#vx-content.vx-code-wrap pre {
    white-space: pre-wrap !important;
    word-break: break-all !important;
}

#vx-content.vx-code-wrap pre code {
    white-space: pre-wrap !important;
    word-break: break-all !important;
}
