/* Styles here will be placed in the header of the HTML template as global embedded styles. */
/* Section numbering */
#vx-content.vx-section-number, #vx-content.vx-section-number h1 {
    counter-reset: section1 section2 section3 section4 section5;
}

#vx-content.vx-section-number h2 {
    counter-reset: section2 section3 section4 seciton5;
}

#vx-content.vx-section-number h3 {
    counter-reset: section3 section4 section5;
}

#vx-content.vx-section-number h4 {
    counter-reset: section4 section5;
}

#vx-content.vx-section-number h5 {
    counter-reset: section5;
}

#vx-content.vx-section-number h2::before {
    counter-increment: section1;
    content: counter(section1) " ";
}

#vx-content.vx-section-number h3::before {
    counter-increment: section2;
    content: counter(section1) "." counter(section2) " ";
}

#vx-content.vx-section-number h4::before {
    counter-increment: section3;
    content: counter(section1) "." counter(section2) "." counter(section3) " ";
}

#vx-content.vx-section-number h5::before {
    counter-increment: section4;
    content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) " ";
}

#vx-content.vx-section-number h6::before {
    counter-increment: section5;
    content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) "." counter(section5) " ";
}

#vx-content.vx-constrain-image-width img {
    max-width: 100%;
    height: auto;
}

/* Table of Contents */
.vx-table-of-contents ol {
    list-style: none;
}

#vx-content.vx-section-number .vx-table-of-contents > ol > li ol {
    counter-reset: toc;
}

#vx-content.vx-section-number .vx-table-of-contents > ol > li ol li {
    counter-increment: toc;
}

#vx-content.vx-section-number .vx-table-of-contents > ol > li ol li:before {
    content: counters(toc, '.') '. ';
    font-family: cursive;
}

.vx-header-anchor {
    visibility: hidden;
    vertical-align: middle;
}

.vx-header-anchor::after {
    content: attr(vx-data-anchor-icon);
}

#vx-content h1:hover .vx-header-anchor, #vx-content h2:hover .vx-header-anchor, #vx-content h3:hover .vx-header-anchor, #vx-content h4:hover .vx-header-anchor, #vx-content h5:hover .vx-header-anchor, #vx-content h6:hover .vx-header-anchor {
    visibility: visible;
    vertical-align: middle;
}
