/* Styles here will be placed in the header of the HTML template as global embedded styles. */
/* Section numbering */
#vx-content.vx-section-number,
#vx-content.vx-section-number-2 h1,
#vx-content.vx-section-number-3 h1,
#vx-content.vx-section-number-3 h2 {
    counter-reset: section1 section2 section3 section4 section5 section6;
}

#vx-content.vx-section-number-1 h1,
#vx-content.vx-section-number-2 h2,
#vx-content.vx-section-number-3 h3 {
    counter-reset: section2 section3 section4 seciton5 section6;
}

#vx-content.vx-section-number-1 h2,
#vx-content.vx-section-number-2 h3,
#vx-content.vx-section-number-3 h4 {
    counter-reset: section3 section4 section5 section6;
}

#vx-content.vx-section-number-1 h3,
#vx-content.vx-section-number-2 h4,
#vx-content.vx-section-number-3 h5 {
    counter-reset: section4 section5 section6;
}

#vx-content.vx-section-number-1 h4,
#vx-content.vx-section-number-2 h5 {
    counter-reset: section5 section6;
}

#vx-content.vx-section-number-1 h5 {
    counter-reset: section6;
}

#vx-content.vx-section-number-1 h1::before,
#vx-content.vx-section-number-2 h2::before,
#vx-content.vx-section-number-3 h3::before {
    counter-increment: section1;
    content: counter(section1) ". ";
}

#vx-content.vx-section-number-1 h2::before,
#vx-content.vx-section-number-2 h3::before,
#vx-content.vx-section-number-3 h4::before {
    counter-increment: section2;
    content: counter(section1) "." counter(section2) ". ";
}

#vx-content.vx-section-number-1 h3::before,
#vx-content.vx-section-number-2 h4::before,
#vx-content.vx-section-number-3 h5::before {
    counter-increment: section3;
    content: counter(section1) "." counter(section2) "." counter(section3) ". ";
}

#vx-content.vx-section-number-1 h4::before,
#vx-content.vx-section-number-2 h5::before,
#vx-content.vx-section-number-3 h6::before {
    counter-increment: section4;
    content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) ". ";
}

#vx-content.vx-section-number-1 h5::before,
#vx-content.vx-section-number-2 h6::before {
    counter-increment: section5;
    content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) "." counter(section5) ". ";
}

#vx-content.vx-section-number-1 h6::before {
    counter-increment: section6;
    content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) "." counter(section5) "." counter(section6) ". ";
}

#vx-content.vx-constrain-image-width img {
    max-width: 100%;
    height: auto;
}

/* Table of Contents */
.vx-table-of-contents ol {
    list-style: none;
}

#vx-content.vx-section-number-1 .vx-table-of-contents ol {
    counter-reset: toc;
}
#vx-content.vx-section-number-1 .vx-table-of-contents ol li {
    counter-increment: toc;
}
#vx-content.vx-section-number-1 .vx-table-of-contents ol li:before {
    content: counters(toc, '.') '. ';
    font-family: cursive;
}

#vx-content.vx-section-number-2 .vx-table-of-contents > ol > li ol {
    counter-reset: toc;
}
#vx-content.vx-section-number-2 .vx-table-of-contents > ol > li ol li {
    counter-increment: toc;
}
#vx-content.vx-section-number-2 .vx-table-of-contents > ol > li ol li:before {
    content: counters(toc, '.') '. ';
    font-family: cursive;
}

#vx-content.vx-section-number-3 .vx-table-of-contents > ol > li > ol > li ol {
    counter-reset: toc;
}
#vx-content.vx-section-number-3 .vx-table-of-contents > ol > li > ol > li ol li {
    counter-increment: toc;
}
#vx-content.vx-section-number-3 .vx-table-of-contents > ol > li > ol > li ol li:before {
    content: counters(toc, '.') '. ';
    font-family: cursive;
}

.vx-header-anchor {
    visibility: hidden;
    vertical-align: middle;
}

.vx-header-anchor::after {
    content: attr(vx-data-anchor-icon);
}

#vx-content h1:hover .vx-header-anchor, #vx-content h2:hover .vx-header-anchor, #vx-content h3:hover .vx-header-anchor, #vx-content h4:hover .vx-header-anchor, #vx-content h5:hover .vx-header-anchor, #vx-content h6:hover .vx-header-anchor {
    visibility: visible;
    vertical-align: middle;
}

#vx-content.vx-indent-first-line p {
    text-indent: 2em;
}
