.vx-image-view-image {
    transition: 0.3s;
}

.vx-modal-box {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(68, 68, 68);
    background-color: rgba(68, 68, 68, 0.95);
}

.vx-modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    cursor: move;
}

/* Add Animation */
.vx-modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
span.vx-modal-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 35px;
    color: #DADADA;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

span.vx-modal-close:hover,
span.vx-modal-close:focus {
    color: #EEEEEE;
    text-decoration: none;
    cursor: pointer;
}
